@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,600&display=swap');
@font-face {
    font-family: street;
    src: url(fonts/street\ soul.ttf) format(truetype);
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn {
        -webkit-animation: fadeIn 0.5s ease-in-out;
        -moz-animation: fadeIn 0.5s ease-in-out;
        -o-animation: fadeIn 0.5s ease-in-out;
        animation: fadeIn 0.5s ease-in-out;
        }

body{
    background-color: white;
}

main{
    background-color: #5cf26c;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(149, 141, 175, 0.502);
    width: 700px;
    padding: 15px;
    margin: auto;
}

a#main{
    font-family: street;
    font-weight: normal;
    font-size: 4em;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
}

h2#main{
    font-family: Roboto Mono;
    font-size: 1.2em;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    margin: 1em;
    display: inline;
}

#menu-h {
    box-sizing: border-box;
    list-style-type: none;
}

#menu-h li{
    display: inline;
}

#menu-h li a{
    display: inline;
    text-decoration: none;
    font-family: street;
    font-size: 2em;
    color: black;
    padding: 1em;
}

#menu-h li a:hover{
    color: rgb(32, 228, 25);
}

#menu{
    display: flex;
    justify-content: center;
}

#contato
{
    color: black;
}

p{
    font-family: Roboto Mono;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#insta_contato{
    margin-top: 6.5em;
}

#contato i{
    font-size: 2em;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

#pub{
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(149, 141, 175, 0.502);
    width: auto;
    padding: auto;
    margin: auto;
}

h1{
    font-family: Roboto Mono;
    font-size: 1em;
    text-align: center;
    margin-top: 5em;
}

h2{
    font-family: Roboto Mono;
    font-size: 1em;
    text-align: center;
}