@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,600&display=swap');
@font-face {
    font-family: street;
    src: url(fonts/street\ soul.ttf) format(truetype);
}

body{
    background-color: #5cf26c;
}

header{
    color: black;
    
    width: auto;

    margin-top: -15px;
    margin-right: -8px;
    margin-bottom: auto;
    margin-left: -8px;
}

header h1{
    font-family: street;
    letter-spacing: 2px;
    font-size: 7em;
    text-align: center;

    margin: 10px;
}

header h2{
    font-family: Roboto Mono;
    font-size: 1em;
    text-align: center;

    margin-top: -10px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: white;
}

nav{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.103);
    font-family: street;
    font-size: 2em;
    text-align: center;

    padding: 10px 5px;
    border-radius: 10px;

    margin: auto 100px;
}

nav a{
    margin: 45px;
}

nav a:hover{
    color: #5cf26c;
}

#section_contatos{
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.103);
    padding: 125px;
    margin: 30px 352px;
    border-radius: 10px;
}


#article_contatos a{
    text-decoration: none;
    font-family: Roboto Mono;
    font-size: 1.2em;
    color: black;
}

#article_contatos a:hover{
    color: #5cf26c;
}

.title_contatos{
    text-align: center;
    
    margin: 10px auto;
}

.section{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 10px;
    
    margin-top: 30px;
    margin-right: 92px;
    margin-bottom: auto;
    margin-left: 92px;
}
    

#title_apresentacao{
    font-family: Roboto Mono;
    font-size: 2em;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    color: lightslategray;

    margin: auto 250px;
}

#span_apresentacao{
    font-family: Roboto Mono;
    font-weight: bold;
    color: black;
}

#img_apresentacao{
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

img.displayed{
    display: block;
    
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

footer{
    font-family: Roboto Mono;
    font-weight: bold;
    text-align: right;
    text-align: end;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: white;
}

#section_magazine{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 10px;

    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: auto;
    margin-left: 92px;;
}

.article_magazine{
    margin-top: 70px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

#title_magazine_h1{
    margin-top: 10px;
}

.title_magazine{
    font-family: Roboto Mono;
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;

    margin: auto 292px;
}